/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}
a {
  color: #2772b0;
}
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

div img {
  width: 100%;
  max-width: 225px;
}

/* grid system -- mobile first! */
.row {
  width: 100%;
  display: table;
  margin: 4% 0 4% 0;
  padding: 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
[class*="cell-"] {
  height: auto;
  width: 92%;
  margin-left: 4%;
}
.cell-25-all {
  background-color: mediumaquamarine;
}
.cell-25-part {
  background-color: indianred;
}
.cell-50 {
  background-color: blanchedalmond;
}
.cell-75 {
  background-color: orangered;
}
.cell-100 {
  background-color: plum;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
  [class*="cell-"] {
    margin-right: 0;
    float: left;
    min-height: 1px;
  }
  .cell-25-all,
  .cell-50 {
    width: 44%;
  }
  .cell-25-part,
  .cell-75,
  .cell-100 {
    width: 92%;
  }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .cell-25-all,
  .cell-25-part {
    width: 20%;
  }
  .cell-50 {
    width: 44%;
  }
  .cell-75 {
    width: 68%;
  }
  .cell-100 {
    width: 92%;
  }
}
